<form action="/insert" method="get">
  <legend>Add New Activity</legend>
    <p>Name: <input type="text" name="name" /></p>
    <p>Reps: <input type="text" name="reps" /></p>
    <p>Weight: <input type="text" name="weight" /></p>
    <p>Date: <input type="text" name="date" /></p>
    <p>Lbs: <input type="text" name="lbs" /></p>
    <p><input type="submit" /></p>
</form>


<table id="dataTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Reps</th>
      <th>Weight</th>
      <th>Date</th>
      <th>Lbs</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

{{#each dataList}}
    <tr>
      <td>{{this.name}}</td>
      <td>{{this.reps}}</td>
      <td>{{this.weight}}</td>
      <td>{{this.date}}</td>
      <td>{{this.lbs}}</td>
      <td>
      
        <input type="hidden" name="id" value="{{this.id}}">
        <input type="button" value="Update" onClick="updateRow('dataTable',this)">
        <input type="button" value="Delete" onClick="deleteRow('dataTable',this)">
      
      <td>
  </tr>
{{/each}}

  </tbody>
</table>