<form action="/update" method="get">
  <legend>Update Activity</legend>
    <p>Name: <input type="text" name="name" />{{dataList.name}}</p>
    <p>Reps: <input type="text" name="reps" />{{dataList.reps}}</p>
    <p>Weight: <input type="text" name="weight" />{{dataList.weight}}</p>
    <p>Date: <input type="text" name="date" />{{dataList.date}}</p>
    <p>Lbs: <input type="text" name="lbs" />{{dataList.lbs}}</p>
    <p><input type="submit" /></p>
</form>