<form action="/update" method="get">
  <legend>Update Activity</legend>
  {{#each dataList}}
    <p>Name: <input type="text" name="name" value={{this.name}}></p>
    <p>Reps: <input type="text" name="reps" value={{this.reps}}></p>
    <p>Weight: <input type="text" name="weight" value={{this.weight}}></p>
    <p>Date: <input type="text" name="date" value={{this.date}}></p>
    <p>Lbs: <input type="text" name="lbs" value={{this.lbs}}></p>
    <input type="hidden" name="id" value="{{this.id}}">
    <p><input type="submit" /></p>
  {{/each}}
</form>